<!DOCTYPE html>

<body>
    <br>

    <div class="container-fluid" style="background-color: black;margin-left: 20%; width: 60%;">
        <p id="title">Welcome to Editorial Manager <sup>&reg;</sup> for<br>Journal of Innovation Sciences and
            Sustainable Technologies</p>
    </div>
    <div class="container-fluid" style="height:50%; width:100%;">
        <p style="font-size: 1.3vw;float: right; margin-right: 25%;  margin-top: 0;">
            <a href="#" style="text-decoration: none; color: rgb(49, 49, 231);">Insert Special Character</a></p><br>
    </div>

    <table width="70%" align="center">
        <tr>
            <td>
                <img src="https://www.canva.com/design/DAD8ltz2SLg/65zeiimsImBPAkTROyWQTg/edit?category=tACZChfZug8&utm_source=onboarding.jpeg" height="350vw" width="250vw">
            </td>
            <td>

                <form>
                    <fieldset>
                        <legend>Please Enter The Following</legend>
                        <p style="text-align: center;">
                            <label>Username</label>
                            <input type="text" maxlength="80"><br>
                            <label>Password</label>
                            <input type="password"></p>
                        <p style="text-align: center;">
                            <button>Author Login</button>
                            <button>Reviewer Login</button>
                            <button>Editor Login</button>
                            <button>Publisher Login</button></p>

                        <p style="text-align: center;"> <a href="#" id="loginhelp">Send Login Details</a>
                            <a href="#" id="loginhelp">Register Now</a>
                            <a href="#" id="loginhelp">Login Help</a></p>
                        <hr color="red" size="1vw">
                        <p style="padding: 0.5vw; font-size: 1.3vw;">The COVID-19 pandemic impacts us all, and we are
                            offering all possible support to our customers and employees.
                            While at present there has been no major impact to our business or services,
                            we ask for your understanding that this unprecedented situation might lead to some delays in
                            the peer review process.
                            For further support, please visit our
                            <a href="#" style="color:#0000ee; text-decoration: none;">Covid-19 community resilience
                                resources center.</a>
                            <hr color="red" size="1vw">
                        <p style="text-align: center;font-size: 1.3vw; line-height: 2vw;">Software Copyright © 2020
                            Aries Systems Corporation. <br>
                            <a href="#" style="color: #0000ee;text-decoration: none;">Aries Privacy Policy | </a>
                            <a href="#" style="color: #0000ee;text-decoration: none;">Publisher's Data Use Privacy
                                Policy</a></p>
                    </fieldset>
                </form>

            </td>
        </tr>
    </table>
<br>

<table align="center" width="70%" >
    <tbody>
        <tr >
            <td bgcolor="black" align="center" style="color:white;">
                <b><a href="#" target="_blank"
                            style="text-decoration:none;color:white;" rel="noopener">Instructions<br>for Authors</a></b>
            </td>
            <td bgcolor="black" align="center">
                <b><a href="#" target="_blank"
                            style="text-decoration:none;color:white;" rel="noopener">Instructions<br>for Reviewers</a></b>
            </td>
            <td bgcolor="black" align="center">
                <b><a href="#" target="_blank"
                            style="text-decoration:none;color:white;" rel="noopener">About <br>the Journal</a></b>
            </td>
            <td bgcolor="black" align="center">
                 <b><a href="#" target="_blank"
                            style="text-decoration:none;color:white;" rel="noopener">Contact<br>Editorial Office</a></b>
            </td>
        </tr>
    </tbody>
</table>


<table width="65%" align="center">
    <tbody>
        <tr>
            <td style="font-size:1.518:21 16-07-2020vw">
                
                    <p><strong><br>First-time users</strong>: Please click on the word "Register" in the navigation
                        bar at the top of the page and enter the requested information. Upon successful
                        registration, you will be sent an e-mail with instructions to verify your registration.
                        <strong>NOTE</strong>:
                        If you received an e-mail from us with an assigned user ID and password, DO NOT REGISTER
                        AGAIN. Simply use that information to login. Usernames and passwords may be changed after
                        registration (see instructions below).</p>
                    <p><strong>Repeat users</strong>: Please click the "Login" button from the menu above and
                        proceed as appropriate.</p>
                    <p><strong>Authors</strong>: Please click the "Login" button from the menu above and login to
                        the system as "Author." You may then submit your manuscript and track its progress through
                        the system.</p>
                    <p><strong>Reviewers</strong>: Please click the "Login" button from the menu above and login to
                        the system as "Reviewer." You may then view and/or download manuscripts assigned to you for
                        review or submit your comments to the editor and the authors.</p>
                    <p><strong>To change your username and/or password</strong>: Once you are registered, you may
                        change your contact information, username and/or password at any time. Simply log in to the
                        system and click on "Update My Information" in the navigation bar at the top of the page.
                    </p>
                
            </td>
        </tr>
    </tbody>
</table>



</body>