<!DOCTYPE html>
<body>
       <br>
    
        <div class="container-fluid" style="background-color: black;margin-left: 25%; width: 50%;">
            <p id="title">Welcome to Editorial Manager <sup>&reg;</sup> for<br>Journal of Innovation Sciences and Sustainable Technologies</p>
        </div>
           <div class="container-fluid"style="height:50%; width:100%;"> 
               <p style="font-size: 1.3vw;float: right; margin-right: 25%;  margin-top: 0;">
                <a href="#" style="text-decoration: none; color: rgb(49, 49, 231);">Insert Special Character</a></p><br>
           </div>

           <table  >
               <tr>
                   <td>
                      <img src="https://media.bloomsbury.com/rep/bj/9781472580757.jpg" height=350>  
                   </td>
                   <td>
                       <!-- <frameset>
                       <frame src="../login.html"></frame>
                    </frameset> -->

                    <form>
                        <fieldset>
                            <legend>Please Enter The Following</legend>
                          <p style="text-align: center;">  
                             <label>Username</label>
                            <input type="text" maxlength="80"><br>
                            <label>Password</label>
                            <input type="password"></p>
                             <p style="text-align: center;"> 
                       <button>Author Login</button>
                       <button>Reviewer Login</button>
                       <button>Editor Login</button>
                       <button>Publisher Login</button></p>
                        
                    <p style="text-align: center;"> <a href="#" id="loginhelp">Send Login Details</a>
                <a href="#" id="loginhelp">Register Now</a>
                <a href="#" id="loginhelp">Login Help</a></p>
                       <hr color="red" size="1vw">
                     <p style="padding: 0.5vw; font-size: 1.3vw;">The COVID-19 pandemic impacts us all, and we are offering all possible support to our customers and employees. 
                         While at present there has been no major impact to our business or services, 
                         we ask for your understanding that this unprecedented situation might lead to some delays in the peer review process. 
                         For further support, please visit our 
                         <a href="#" style="color:#0000ee; text-decoration: none;">Covid-19 community resilience resources center.</a>   <hr color="red" size="1vw">
                     <p style="text-align: center;font-size: 1.3vw; line-height: 2vw;">Software Copyright © 2020 Aries Systems Corporation. <br> 
                         <a href="#" style="color: #0000ee;text-decoration: none;">Aries Privacy Policy | </a> 
                         <a href="#" style="color: #0000ee;text-decoration: none;">Publisher's Data Use Privacy Policy</a></p>
                     </fieldset>
                 </form>

                   </td>
               </tr>
           </table>
               
  
</body>