<div class="container-fluid" style="height: 6.5vw; background-color: black; padding: 0px;">
    <div class="container-fluid"  style="height: 50%; width: 50%; background-color: rgb(1, 108, 112);border-radius: 0 0 10vw 0;margin: 0px;">
        <p id="name">Journal of Innovation Sciences and Sustainable Technologies</p>
        <!-- <img id="logo" src="https://www.editorialmanager.com/compeleceng/img/logo.jpg"> -->
        
    </div>
    <div style="margin: 0px; font-size: 1vw;">
        <ul  type="none">
            <li >
             <a href="#">HOME</a> 
             <a href="#">LOGIN</a> 
             <a href="#">HELP</a> 
             <a href="#">REGISTER</a> 
             <a href="#">UPDATE MY INFORMATION</a> 
             <a href="#">JOURNAL OVERVIEW</a> 
           <br>
             <a href="#">MAIN MENU</a> 
             <a href="#">CONTACT US</a> 
             <a href="#">SUBMIT A MANUSCRIPT</a> 
             <a href="#">INSTRUCTIONS FOR AUTHORS</a> 
             <a href="#">PRIVACY</a> 
            </li>
         </ul>
        
    </div>
  </div>